#container {
    background-color: gray;
    border: 2px solid black;
    height: 673px;
    margin: auto;
    width: 420px;
}
#screen {
    background-color: #87a087;
    border: 1px solid black;
    color: black;
    font-size: 3.9em; 
    height: 150px;
    margin: 7px auto auto auto;
    width: 406px;
}
#highScreen {
	height: 75px;
	text-align: right;
	width: 406px;
}
#lowScreen {
	height: 75px;
	text-align: right;
	width: 406px;
}
#keys {
	background-color: red;
	cursor: pointer;
	height: 508px;
	margin: auto;
	width: 408px;
}
.button {
	border: 1px solid black;
	float: left;
	font-size: 4em;
	height: 125px;
	line-height: 125px;
	text-align: center;
	width: 100px;
}
.active {
	background-color: #b30000;
	color: white;
}
